h1 {
  font-size: (2.5 * $fs-base);
  line-height: (3 * $lh-base);
} 

section {
  align-items: center;  
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}