html {
  font-size: 18px;
  color: $black;
}

main {
  z-index: $z-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.25rem;
  margin: 0;
  line-height: 1.25;
  font-family: $sans-serif-default;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: $h3-default-size;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $accent;

  &:visited {
    color: $accent-dark;
  }
}

img {
  max-width: 100%;
}

svg {
  height: 1.25rem;
  width: 1.25rem;
}

@media (min-width: $bp-medium) {
  h1 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: $bp-large) {
  h1 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}
