h1, h2, h4 {
  margin: 0;
}

h1 {
  font-size: (3 * $fs-base);
  line-height: (2 * $lh-base);
}

h2 {
  line-height: (2 * $lh-base);
}

section {
  min-height: 100vh;
}

p {
  font-weight: lighter;
}

a {
  text-decoration: none;
  font-weight: normal;
}