header {
  background-color: rgba(#000, 0.1);
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  z-index: map-get($zi, top);

  .title, .menu {
    color: rgba(#fff, 0.8);
    margin: 0;
    padding: 5px;
  }
}