@mixin flex-column($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin button-outline($color, $hover-color) {
  border-radius: 1px;
  border: 1px solid $color;
  padding: 0.75rem;
  color: $color;
  transition: color $transition-default, border-color $transition-default;

  &:hover, &:focus {
    color: $hover-color;
    border-color: $hover-color;
    box-shadow: 0 0 5px rgba($black, 0.3);
  }
}
