// Holds theme variables, layout, etc.

// Breakpoints
$bp-medium: 465px;
$bp-large: 650px;
$bp-xlarge: 900px;
$bp-xxlarge: 1000px;

// Overall Layout
$padding-default: 0.75rem;
$max-width-default: $bp-medium;

$z-highest: 999;
$z-middle: 777;
$z-base: 0;
$z-bottom: -999;

// Colors
$black: #222;
$white: #fefefe;
$accent: #2196f3; // blue
$accent-dark: darken($accent, 4%);

// Fonts
$sans-serif-default: 'Open Sans', 'Helvetica', sans-serif;
$sans-serif-secondary: 'Source Sans Pro', 'Helvetica', sans-serif;

// Transitions
$transition-default: 0.25s linear;

// Header variables
$header-height: 1rem + (0.25rem * 2);
