@import 'sanitize';
@import 'mixins';
@import 'fonts';
@import 'vars';
@import 'base';

@import 'modules/menu';
@import 'modules/header';
@import 'modules/banner';
@import 'modules/work';
@import 'modules/about';
@import 'modules/footer';

// General styles across sections
.section-heading {
  font-family: $sans-serif-secondary;
  margin: 0.75rem;
  text-align: center;
}
