@import 'sanitize';
@import 'mixins';
@import 'fonts';
@import 'vars';
@import 'base';

// Menu buttons
.menu-close, .menu-open {
  transition: opacity $transition-default;
}

.menu-close {
  display: none;
  opacity: 0;
}

// Menu shown
#menu-toggle:checked {
  & + #header .menu-toggler-label {
    .menu-open {
      display: none;
      opacity: 0;
    }

    .menu-close {
      display: inline;
      opacity: 1;
    }
  }

  & ~ .menu {
    opacity: 1; // Shows the menu
    z-index: $z-middle;
  }
}

// Menu
.menu {
  background-color: $white;
  height: 100vh;
  opacity: 0; // Hides the menu
  padding: $header-height $padding-default 0;
  position: fixed;
  text-align: center;
  transition: opacity $transition-default; // Menu fades in
  width: 100%;
  z-index: $z-bottom;

  @include flex-column();
}

.menu-items {
  color: $black;
  font-size: 1.15rem;
  font-weight: 300;
  margin: 0;
  padding: 0;

  .menu-item {
    margin: 0.75rem 0;
  }

  a {
    color: inherit;
  }
}

#header {
  align-items: center;
  background-color: rgba($white, 0.9);
  color: $black;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: 0 $padding-default;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-highest;

  .title, .menu-btn {
    margin: 0;
    padding: 0;
  }

  .title a {
    color: inherit;
  }
}

.section-heading {
  font-family: $sans-serif-secondary;
  margin: 0.75rem;
  text-align: center;
}

#banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: $header-height $padding-default 0;
  position: relative;

  .content {
    max-width: $max-width-default;
    margin: 0 auto;
  }

  .content-heading {
    font-family: $sans-serif-secondary;
  }

  .next-pane-btn {
    bottom: 0;
    left: 0;
    padding-bottom: $padding-default;
    position: absolute;
    width: 100%;
  }

  .down-arrow {
    $icon-size: 1.75rem;
    $icon-color: rgba($black, 0.5);
    $icon-color-hover: rgba($black, 0.9);

    border-radius: 50%;
    border: 1px solid $icon-color;
    color: $icon-color;
    height: $icon-size;
    transition: all $transition-default;
    width: $icon-size;

    &:hover {
      border: 1px solid $icon-color-hover;
      color: $icon-color-hover;
    }
  }
}

#work {
  $project-title-height: 2rem;
  $thumbnail-padding-half: 5rem;

  $thumbnail-padding-vert: (0.5 * $project-title-height) +  $thumbnail-padding-half;

  padding-top: $header-height;

  .projects {
    max-width: $bp-xxlarge;

    @media (min-width: $bp-medium) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @media (min-width: $bp-xlarge) {
      margin: 0 auto;
    }
  }

  .project {
    position: relative;

    @media (min-width: $bp-medium) {
      width: 50%;
    }

    @media (min-width: $bp-large) {
      width: 33.33333%;
    }

    @media (min-width: $bp-xlarge) {
      padding: 0.25rem;
    }
  }

  .thumbnail-bg {
    color: $white;
    font-family: $sans-serif-secondary;
    font-size: 1.5rem;
    margin: 0;
    padding: $thumbnail-padding-vert 0;
    text-align: center;
    width: 100%;

    &.horizon {
      background: url('../img/sunset.png');
      background-position: bottom;
    }

    &.adze {
      background: url('../img/adze.png');
      background-position: center;
    }

    &.minutes {
      background: url('../img/clock-bg.jpeg');
      background-size: cover;
    }
  }

  .title {
    color: $white;
    height: $project-title-height;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px rgba($black, 0.4);
    top: $thumbnail-padding-half;
    width: 100%;
  }

  .links {
    $link-height: 1.5rem;

    padding: 0 $padding-default;
    position: absolute;
    right: 0;
    text-align: right;
    bottom: $padding-default;

    .link {
      color: rgba($white, 0.7);
      display: block;
    }
  }

  .placeholder {
    background-color: rgba($black, 0.3);
    display: none;

    @media (min-width: $bp-medium) and (max-width: $bp-large) {
      &:nth-child(even) {
        width: 50%;
        height: ($thumbnail-padding-vert * 2);

        @include flex-column();
      }
    }
  }
}

#about {
  margin: 0 auto;
  max-width: $bp-medium;
  padding: 0 $padding-default;

  .about-img {
    $img-size: (1.5rem * 4);

    border-radius: 50%;
    display: block;
    height: $img-size;
    margin: 1.25rem auto;
    width: $img-size;
  }

  .contact-btn {
    $btn-color: rgba($white, 0.9);
    $btn-color-hover: $white;

    background-color: $accent;
    border-radius: 1px;
    color: $btn-color;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    transition: color $transition-default, background-color $transition-default;

    &:hover {
      background-color: $accent-dark;
      color: $btn-color-hover;
    }

    a {
      color: inherit;
    }
  }
}

#footer {
  border-top: 1px solid rgba($black, 0.1);
  font-size: 0.5rem;
  padding: 0 $padding-default;
  text-align: center;

  .media {
    margin: 0.5rem;
  }

  .media-link {
    color: rgba($black, 0.8);
    display: inline-block;
    transition: color $transition-default;
    width: 1.5rem;

    &:hover {
      color: $black;
    }
  }

  .contact-info, .copyright {
    margin: 0 auto;
  }
}
