@import 'sanitize';
@import 'theme';
@import 'base';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem $padding-default-horizontal;

  .menu {
    margin: 0;
  }
}
