.Button {
  --color: var(--button-color, var(--accent-1));
  --transition: 175ms ease-in-out;

  border: 2px solid var(--color);
  border-radius: 1px;
  color: var(--color);
  transition: background var(--transition), color var(--transition);

  &:hover,
  &:active {
    background: var(--color);
    color: var(--button-hover-text-color, var(--color-secondary));

    cursor: pointer;
  }

  &:active {
    --color: var(--button-color-active, var(--accent-1-dark));
  }
}

.Button + .Button {
  margin-left: 0.5rem;
}
