$gutter: 0.5rem;

.pageHeading {
  margin: 3rem 0 2rem; // todo -- should standardize
}

.postsList {
  margin: 1rem 0;
}

.listItem + .listItem {
  margin-top: 3rem;
}

.listItemHeading {
  margin-bottom: $gutter;
}

.listItemSubheading {
  font-size: 0.825rem;
  margin: $gutter 0;
  color: #888;
  font-family: var(--font-secondary);
  font-weight: normal;
}
