.WebWorkersExample {
  margin: 1rem 0;
  padding: 2rem;
  border: 1px solid var(--gray-1);
  max-width: 25rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;

  .button {
    padding: 0.5rem 1rem;
  }
}
