// shared styles
@mixin heading() {
  font-family: var(--font-secondary);
  margin: 1.25em 0;
  color: var(--color-primary);
}

@mixin link() {
  $border-size: 1px;
  $color: var(--accent-1);

  text-decoration: none;
  border-bottom: $border-size solid $color;
  color: $color;
  padding-top: $border-size;
  transition: all 50ms ease-in;

  &:active,
  &:hover {
    background: $color;
    color: var(--color-secondary);
  }
}

// media
// todo -- move media sizes into variables
@mixin above-screen-sm() {
  @media (min-width: 35rem) {
    @content;
  }
}

@mixin above-screen-md() {
  @media (min-width: 50rem) {
    @content;
  }
}