:root {
  // COLORS
  --color-primary: #333;
  --color-secondary: #efefef;

  --accent-primary: lightseagreen;
  --accent-secondary: coral;

  // FONTS
  --font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-secondary: Menlo, Monaco, Lucida Console, Ubuntu Mono, Courier New, monospace;
}


