.ul > .li:before {
  content: '●';
  font-size: 0.625rem;

  @apply leading-7;
}

.li .li:before {
  content: '○';
}

.ol {
  counter-reset: ol-count;
}

.ol > .li:before {
  content: counter(ol-count) '.';
  counter-increment: ol-count;
}

.blockquote > p {
  margin: 0;
}
