.Card {
  --color: var(--gray-normal);

  border-radius: 2px;
  border: 1px solid var(--color);
  background: var(--white);
}

.Card header {
  border-bottom: 1px solid var(--color);
}

.Card header,
.Card main {
  padding: 1.25rem 1rem;
}
