.Heading {
  $font-size: var(--font-size, initial);
  $color: var(--color, var(--color-primary));

  font-family: var(--font-secondary);
  font-size: $font-size;
  margin-bottom: 1em;
  color: $color;
}