.Lesson {
  padding: 1rem 0;
}

.heading {
  font-family: var(--font-secondary);
  padding-bottom: 2rem;
}

.subheading {
  font-size: 0.825rem;
  color: rgba(0,0,0,0.5);
  margin-top: -1rem;
  display: block;
}

.example {
  h2 {
    // todo -- shared styles with markdown headings
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    margin: 0.75em 0;
    color: var(--color-primary);
  }
}
