.Lesson {
  padding: 1rem 0;
}

.heading {
  font-family: var(--font-secondary);
}

.date {
  font-size: 0.75rem;
}

.example {
  h2 {
    // todo -- shared styles with markdown headings
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    margin: 0.75em 0;
    color: var(--color-primary);
  }
}
