@import '../../styles/mixins';

.Lesson {
  margin: 1rem 0;

  @include above-screen-md {
    max-width: 70ch;
    margin: 0 auto 1rem;
  }
}

.heading {
  font-family: var(--font-secondary);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.subheading {
  font-size: 0.825rem;
  color: rgba(0,0,0,0.5);
  margin-top: -1rem;
  display: block;
}

.example {
  h2 {
    font-size: 1.25rem;

    @include heading();
  }
}
