#banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: $header-height $padding-default 0;
  position: relative;

  .content {
    max-width: $max-width-default;
    margin: 0 auto;
  }

  .content-heading {
    font-family: $sans-serif-secondary;
  }

  .next-pane-btn {
    $icon-size: 2rem;
    $icon-color: rgba($accent, 0.8);
    $icon-color-hover: $accent;

    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    a {
      padding-bottom: $padding-default;
      display: block;

      &:hover .down-arrow {
        border: 1px solid $icon-color-hover;
        color: $icon-color-hover;
      }
    }

    .down-arrow {
      border-radius: 50%;
      border: 1px solid $icon-color;
      color: $icon-color;
      height: $icon-size;
      transition: all $transition-default;
      width: $icon-size;
    }
  }
}
