#header {
  align-items: center;
  background-color: rgba($white, 0.9);
  color: rgba($accent, 0.8);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: 0 $padding-default;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-highest;

  .title, .menu-btn {
    margin: 0;
    padding: 0;
  }

  .title a {
    color: inherit;
  }

  .menu-btn {
    transition: color $transition-default;

    &:hover, svg:hover {
      color: $accent;
      cursor: pointer;
    }
  }
}
