// Menu buttons
.menu-close, .menu-open {
  transition: opacity $transition-default;

  @media (min-width: $bp-medium) {
    display: none;
  }
}

.menu-close {
  display: none;
  opacity: 0;
}

// Menu shown
#menu-toggle:checked {
  & + #header .menu-toggler-label {
    .menu-open {
      display: none;
      opacity: 0;
    }

    .menu-close {
      display: inline;
      opacity: 1;
    }
  }

  & ~ .menu {
    opacity: 1; // Shows the menu
    z-index: $z-middle;
  }
}

// Menu
.menu {
  background-color: $white;
  height: 100vh;
  opacity: 0; // Hides the menu
  padding: $header-height $padding-default 0;
  position: fixed;
  text-align: center;
  transition: opacity $transition-default; // Menu fades in
  width: 100%;
  z-index: $z-bottom;

  @include flex-column();

  @media (min-width: $bp-medium) {
    opacity: 1;
    top: 0;
    right: 0;
    height: $header-height;
    width: auto;
    padding: 0;
    z-index: $z-highest;
  }
}

.menu-items {
  color: $accent;
  font-size: 1.15rem;
  font-weight: 300;
  margin: 0;
  padding: 0;

  @media (min-width: $bp-medium) {
    display: flex;
    font-size: 1rem;
    padding-right: $padding-default;
  }

  .menu-item {
    margin: 0.75rem 0;

    @media (min-width: $bp-medium) {
      margin: 0;
      padding-left: 2rem;
    }
  }
}
