#work {
  $project-title-padding-vert: 0.5rem;
  $project-title-height: $h3-default-size + $project-title-padding-vert;

  $thumbnail-padding-half: 5rem;
  $thumbnail-padding-vert: (0.5 * $project-title-height) +  $thumbnail-padding-half;

  padding-top: $header-height;

  .projects {
    max-width: $bp-xlarge;
    margin: 0 auto;
  }

  .project {
    @media (min-width: $bp-large) {
      display: flex;
      margin: 5rem 0;
    }
  }

  .thumbnail-bg {
    font-family: $sans-serif-secondary;
    font-size: 1.5rem;
    margin: 0;
    padding: $thumbnail-padding-vert 0;
    text-align: center;
    width: 100%;

    &.horizon {
      background: url('../img/sunset.png');
      background-position: bottom;
    }

    &.adze {
      background: url('../img/adze.png');
      background-position: center;
    }

    &.minutes {
      background: url('../img/clock-bg.jpeg');
      background-size: cover;
    }

    @media (min-width: $bp-medium) {
      box-shadow: 0 0 3rem rgba($black, 0.2);
    }

    @media (min-width: $bp-large) {
      max-width: auto;
      width: 50%;
      margin: 1rem 3rem 1rem 1rem;
    }
  }

  .content {
    padding: 2rem $padding-default 2.5rem;

    @media (min-width: $bp-large) {
      width: 50%;
    }
  }

  .title {
    color: $accent;
    padding: $project-title-padding-vert 0;
    text-align: center;
    border-bottom: 1px solid $accent;
    width: 100%;
  }

  .tech {
    margin: 0;
    color: rgba($black, 0.5);
    font-size: 0.75rem;
  }

  .links {
    $link-gutter: 0.1rem;

    display: flex;

    .link {
      width: 50%;
      margin-right: $link-gutter;
      display: block;
      text-align: center;
      font-size: 1rem;

      @include button-outline(rgba($accent, 0.8), $accent);
    }

    // Second link
    .link + .link {
      margin-left: $link-gutter;
    }
  }
}
