@import '../styles/mixins';

.TemplateWrapper {
  padding: var(--body-padding, 1rem);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  @include above-screen-sm {
    --body-padding: 3rem;
  }

  @include above-screen-md {
    --body-padding: 1rem;
  }
}

.header {
  margin-bottom: 1rem;
  z-index: 100;
}