name: Preview URL Checks

on: [pull_request]

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  wait_for_preview:
    name: Wait for preview URL
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.waitFor200.outputs.url }}
    steps:
      - uses: actions/checkout@v1
      - name: Wait for Vercel
        uses: patrickedqvist/wait-for-vercel-preview@master
        id: waitFor200
        with: 
          token: ${{ secrets.GH_TOKEN }}
          max_timeout: 600

  lighthouse:
    name: Run Lighthouse
    runs-on: ubuntu-latest
    needs: wait_for_preview
    steps:
      - run: mkdir /tmp/artifacts
      - name: Run Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          urls: "
            ${{ needs.wait_for_preview.outputs.url }}, 
            ${{ needs.wait_for_preview.outputs.url }}/blog,
            ${{ needs.wait_for_preview.outputs.url }}/blog/mocking-fetch
          "
          outputDirectory: /tmp/artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@main
        with:
          name: Lighthouse reports
          path: /tmp/artifacts

  cypress:
    name: Cypress tests
    runs-on: ubuntu-latest
    needs: wait_for_preview
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - uses: cypress-io/github-action@v2
        with:
          record: false
          browser: chrome
          headless: true
        env:
          CYPRESS_BASE_URL: ${{ needs.wait_for_preview.outputs.url }}

  e2e_tests:
    name: End-to-end tests
    runs-on: ubuntu-latest
    needs: wait_for_preview
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - uses: microsoft/playwright-github-action@v1
      - run: yarn
      - run: npm test
        env: 
          TEST_BASE_URL: ${{ needs.wait_for_preview.outputs.url }}
